@charset "ISO-8859-1";
header{
	align-item:center;
	background-image:
	url("http://timeinc.brightcove.com.edgesuite.net/rtmp_uds/2111767321001/201708/1295/2111767321001_5541957486001_5541951435001-th.jpg?pubId=2111767321001&videoId=5541951435001");
	background-repeat: no-repeat;
 background-position: center;
 background-size:cover;
}
#top10{
	font-size:50px;
		text-align:center;
		color:black;
		

}
#romance{
	font-size:30px;
		text-align:center;
}
#heading{
	
	line-height: 150px;
	color:#FFF5A6;
	text-align:center;
	font-size: 75px;
	font-family:fantasy;
}


body{
	 border: 10px solid grey; 
	 
	 font-family:"Comic Sans MS";
	 transition: background-color .5s;
	 background-color: #D8D8D8;
}
footer{
	background-color:black;
	color:white;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 35px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#toggle{
	color:white;
	float:left;
}

#loading {
width: 100%;
height: 100%;
top: 0px;
left: 0px;
position: fixed;
display: block;
opacity: .9;
background-color: #fff;
z-index: 99;
text-align: center;
}
#loading-image {
position: absolute;
top: 250px;
left: 550px;
z-index: 600;
}
dd{
	padding-right:30%;
		 font-size:16px;
		 color:black;

}
#about{
padding-left:250px;
}
dt{
	color:black;
	font-size:50px;
}
#contact{
padding-left:400px;
}
#fb{
float:right;
padding:3px;
}
input[type=submit] {
    border: 2px solid #e7e7e7;
    color: black;
    background-color: white;
    padding: 13px 20px;
    border-radius: 3px;
    transition-duration: 0.4s;
    cursor: pointer;
    
}
input[type=submit]:hover {
    background-color: #e7e7e7;
}